<body>
<!-- HEADER SECTION START-->
<header id="header">
  <div class="container" >
    <div class="row"  >
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-wrapper"> LOGO
        <!-- <img src="assets/img/logo.png" alt="" /> -->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right" >
        <div class="menu-links scroll-me">
          <a href="#header">   <!--<i class="ion-ios-home-outline"></i> </a>
                          <a href="#about"> <i class="ion-ios-camera-outline"></i> </a>-->
            <a href="#clients"> <i class="ion-ios-grid-view-outline"></i> </a>
            <a href="#contact"> <i class="ion-ios-chatboxes-outline"></i> </a>


        </div>
      </div>

    </div>


  </div>
</header>
<!-- HEADER SECTION END-->
<!--HOME SECTION START  -->
<div id="home">
  <div class="overlay">
    <div class="container">
      <div class="row scroll-me" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h1 >Lave Love Pet</h1>
          <h4>
            Consectetur adipiscing elit felis dolor felis dolor vitae.
            Eelit felis dolor vitae  adipiscing elit felis dolor felis dolor vitae.
            Eelit felis dolor vitae

          </h4>
          <a href="#about" class="btn btn-custom btn-two" >Explore Template</a>
          <a href="#email-subscribe" class="btn btn-custom btn-one" >Subscribe Right Now </a>
        </div>
      </div>


    </div>
  </div>

</div>
<!--HOME SECTION END  -->
<!-- CLIENTS SECTION START-->
<section id="clients">
  <div class="overlay">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  client-cover" >
          <div id="carousel-example" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="item active">
                <div class="testimonial-section">
                  Pellentesque posuere malesuada venenatis.
                  Donec laoreet dapibus nulla,
                  vitae feugiat metus aliquet sed.
                </div>
                <div class="testimonial-section-name">
                  <img src="assets/img/client1.jpg" alt="" class="img-circle" />
                  -  Justine Goliyad
                </div>

              </div>
              <div class="item">
                <div class="testimonial-section">
                  Pellentesque posuere malesuada venenatis.
                  Donec laoreet dapibus nulla,
                  vitae feugiat metus aliquet sed.
                </div>
                <div class="testimonial-section-name">
                  <img src="assets/img/client2.jpg" alt="" class="img-circle" />
                  -  Justine Goliyad
                </div>

              </div>
              <div class="item">
                <div class="testimonial-section">
                  Pellentesque posuere malesuada venenatis.
                  Donec laoreet dapibus nulla,
                  vitae feugiat metus aliquet sed.
                </div>
                <div class="testimonial-section-name">
                  <img src="assets/img/client3.jpg" alt="" class="img-circle" />
                  -  Justine Goliyad
                </div>

              </div>
              <!--INDICATORS-->
              <ol class="carousel-indicators carousel-indicators-set">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1"></li>
                <li data-target="#carousel-example" data-slide-to="2"></li>
              </ol>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- CLIENTS SECTION END-->
<!-- SUBSCRIBE SECTION START-->
<section id="email-subscribe">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <form action="subscribe.php" method="post" id="postcontent">
          <input type="email" name="email" class="form-control" placeholder="Enter Your E-mail Address..." required />
          <button type="submit" class="btn btn-subscribe"  >Notify Me !</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- SUBSCRIBE SECTION END-->
<!-- CONTACT SECTION START-->
<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  contact-cover" >
          <h2>Physical Location</h2>
          <h3>345, New Street ,</h3>
          <h3>United States </h3>
          <div class="space"> </div>
          <div class="social">
            <a href="#"><i class="fa fa-facebook "></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus "></i></a>

            <a href="#"><i class="fa fa-linkedin "></i></a>
          </div>
        </div>


      </div>

    </div>
  </div>
</section>
<!-- CONATCT SECTION END-->
<!-- FOOTER SECTION START-->
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        &copy; 2015 YourDomain.com | by <a href="http://www.designbootstrap.com/" target="_blank"> DesignBootstrap </a>
      </div>
    </div>
  </div>
</footer>

</body>

