// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#flash-notice {
  position: absolute;
  width: 100%;
  top: 0px;
}